@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  font-family: "Roboto", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

header {
  background: white;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  height: 65px;
  padding: 5px 30px 5px 30px;
  position: fixed;
  top: 0;
}
.logo {
  width: 15%;
}

.navbar-list {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}
.navbar-list a {
  color: black;
  font-weight: 300;
}
.navbar-list li:first-child > a {
  color: black;
  font-weight: 700;
}

main {
  background: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
}

#contenedor-ppal {
  display: flex;
  margin-top: 65px;
  padding: 70px 0;
  max-width: 1200px;
  justify-content: center;
  align-items: center;
}

.div-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  width: 50%;
}
.div-info h1 {
  font-size: 48px;
  width: 80%;
  min-width: 500px;
  font-weight: 800;
  color: black;
}

.div-info p {
  font-weight: 300;
  font-size: 18px;
}
.div-info p > span {
  font-weight: 800;
}

.button {
  gap: 20px;
}

.button1 {
  color: white;
  background-color: black;
  padding: 6px 0;
  width: 120px;
  border-radius: 10px;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  gap: 10px;
}
.button2 {
  color: black;
  background-color: white;
  padding: 6px 0;
  width: 120px;
  border-radius: 10px;
  font-size: 14px;
  text-align: center;
  border: 2px solid black;
  cursor: pointer;
}

.imagen-info {
  width: 50%;
  background-color: rgb(225, 222, 222);
  padding: 10px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.imagen {
  border-radius: 10px;
}

#contenedor-sec {
  display: flex;
  max-width: 1200px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.parrafo {
  font-size: 25px;
}
.parrafo p > span {
  font-weight: 800;
}

#info {
  display: flex;
  padding: 70px 0;
  gap: 20px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px 0;
  width: 100%;
  max-width: 1200px;
}

#info h2 {
  font-size: 32px;
  font-weight: 800;
}

.info-cards {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
  max-width: 1200px;
}

.info-card {
  width: 350px;
  height: 350px;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px;
  background: white;
  border-radius: 10px;
  max-width: 1200px;
  cursor: pointer;
}
.info-card :hover {
}

.info-card h3 {
  font-size: 18px;
  font-weight: 600;
}
.imag1 {
  width: 330px;
}
.imag2 {
  width: 330px;
}
.imag3 {
  width: 330px;
}

.contact-info {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#contact-section {
  display: flex;
  justify-content: flex-start;
}
.mapa{
  
  
}



.columnas {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  width: 100%;
  max-width: 1200px;
  padding: 0 10px;
  align-items: center;
  text-align: flex start;
}

.info{
  display: flex;
 gap: 2px;
}

.info ul{
 align-items: center;
 text-align: center;
}
.mapa {
}

.contactenos {
  display: flex;
  justify-content: center;
  align-items: center;
}
.imagenes {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  height: 100px;
  padding: 0px 15px 0 15px;
  max-width: 1200px;
  top: 0;
}
.imag {
  width: 30px;
  cursor: pointer;
}

footer {
  width: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  height: 65px;
  padding: 5px 30px 5px 30px;
  justify-content: center;
}
.footer-list {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  width: 100%;
  max-width: 1200px;
}
.footer-list a {
  color: black;
  font-weight: 800;
  font-size: 15px;
  padding: 1px 3px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
